svg(
  width="36",
  height="36",
  viewbox="0 0 36 36",
  xmlns="http://www.w3.org/2000/svg"
)
  title ダイアログを閉じる
  path(
    d="M3.15076 0.322327L35.6777 32.8492L32.8492 35.6777L0.32233 3.15075L3.15076 0.322327Z",
    fill="#000"
  )
  path(
    d="M32.8492 0.322327L35.6777 3.15075L3.15076 35.6777L0.322332 32.8492L32.8492 0.322327Z",
    fill="#000"
  )
