doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    title ktt -今朝はTKGを食べました-
    meta(name="viewport", content="width=device-width,initial-scale=1.0")
    meta(name="description", content="今朝はTKGを食べました")
    meta(name="keywords", content="oti,otiext,tkg,今朝はTKGを食べました")
    meta(property="og:title", content="ktt")
    meta(property="og:type", content="website")
    meta(property="og:url", content="https://tkg.dskd.jp")
    meta(property="og:image", content="/image/og-image.png")
    meta(property="og:site_name", content="ktt")
    meta(property="og:description", content="今朝はTKGを食べました")
    meta(property="og:local", content="ja")
    link(rel="image_src", href="/image/og-image.png")
    link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
    link(
      rel="stylesheet",
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap&subset=japanese"
    )
    link(
      rel="apple-touch-icon",
      sizes="180x180",
      href="/image/apple-touch-icon.png"
    )
    link(rel="stylesheet", href="/style/dialog-polyfill.css")
    link(rel="stylesheet", href="/style/index.css")
    link(rel="canonical", href="https://tkg.dskd.jp")
    script(src="/script/index.ts")

  body
    hgroup
      h1
        include ./pug/logo.pug

      h2 今朝はTKGを食べました

    main
      include ./pug/data.pug

      unless recent.length
        p 食べたTKGはありません。
      each item, i in recent
        section.Recent
          h2= item.heading
          ol
            each image in item.images
              include ./pug/listitem.pug

          if i === recent.length - 1
            button.more(type="button")= `${rest[0].heading}のTKGを表示`

      each item, i in rest
        template.Past
          section
            h2= item.heading
            ol
              each image in item.images
                include ./pug/listitem.pug

            if rest[i+1]
              button.more(type="button")= `${rest[i + 1].heading}のTKGを表示`
            else
              p 今朝食べたTKGはこれで全部です。

      p
        a.all(href="all.pug") 全て表示する
      p
        a(href="#top") ページの先頭へ

    footer
      small
        | Copyright ©︎ oti. Under the
        |
        a(href="https://creativecommons.org/licenses/by-nc/4.0/deed.ja") CC BY-NC 4.0
